@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
	--color-accent: #f4b8e4;
	--color-text: #c6d0f5;
	--color-overlay: #838ba7;
	--color-base: #303446;
	--color-mantle: #292c3c;
	--color-crust: #232634;
}

body {
	@apply bg-base text-text flex h-screen items-center justify-center overflow-hidden font-[Inter_Variable];
}
